:root {
  /* --scale-bg-color: #d5f1e9; */
  --scale-bg-color: #eff5f0;
  --scale-bg-alt-color: #003944;
  --scale-bg-alt-2-color: #d5f1e9;
  --scale-bg-alt-3-color: #f9f9f9;
  --scale-header-color: #003944;
  --scale-text-color: #003944;
  --scale-text-alt-color: #f9f9f9;
  --scale-text-alt-2-color: #007e60;
  --scale-button-bg-color: #64cdab;
  --scale-button-text-color: #003944;
  --scale-bright-green: #2fbc8b;
}

/* START ARROWS */

@font-face {
  font-family: "Allianz";
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  src: url("https://staging-stemdisintermedia.kinsta.cloud/wp-content/uploads/2021/09/ESAllianz-Bold.woff")
    format("woff");
}
@font-face {
  font-family: "Allianz";
  font-style: italic;
  font-weight: 800;
  font-display: auto;
  src: url("https://staging-stemdisintermedia.kinsta.cloud/wp-content/uploads/2021/09/ESAllianz-BoldItalic.woff")
    format("woff");
}
@font-face {
  font-family: "Allianz";
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url("https://staging-stemdisintermedia.kinsta.cloud/wp-content/uploads/2021/09/ESAllianz-Medium.woff")
    format("woff");
}
@font-face {
  font-family: "Allianz";
  font-style: italic;
  font-weight: 600;
  font-display: auto;
  src: url("https://staging-stemdisintermedia.kinsta.cloud/wp-content/uploads/2021/09/ESAllianz-MediumItalic.woff")
    format("woff");
}
@font-face {
  font-family: "Allianz";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("https://staging-stemdisintermedia.kinsta.cloud/wp-content/uploads/2021/09/ESAllianz-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Allianz";
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: url("https://staging-stemdisintermedia.kinsta.cloud/wp-content/uploads/2021/09/ESAllianz-Italic.woff")
    format("woff");
}
@font-face {
  font-family: "Allianz";
  font-style: normal;
  font-weight: 200;
  font-display: auto;
  src: url("https://staging-stemdisintermedia.kinsta.cloud/wp-content/uploads/2021/09/ESAllianz-Light.woff")
    format("woff");
}
@font-face {
  font-family: "Allianz";
  font-style: italic;
  font-weight: 200;
  font-display: auto;
  src: url("https://staging-stemdisintermedia.kinsta.cloud/wp-content/uploads/2021/09/ESAllianz-LightItalic.woff")
    format("woff");
}

body {
  font-family: "Allianz", Helvetica, sans-serif;
}

label {
  font-weight: 600 !important;
  font-size: 48px;
  line-height: 42px;
  color: #173846;
  font-family: "Allianz", Helvetica, sans-serif !important;
}

.calc-wrap {
  display: flex;
  flex-direction: row;
}

section {
  min-width: 50%;
}
input#earnings {
  display: inline !important;
  max-width: 350px;
}

section.pie-chart {
  background: #eff5f0;
}

a#scale-apply-button {
  background: #0a181e;
}

#scale-apply-button span.elementor-button-text {
  color: #a0dfd9;
}

.slider-wrap {
  padding: 20px 0px;
}

.scale-apply-button-container.scale-v-spacer-l {
  align-self: end;
}

section.pie-chart {
  display: grid;
}

html {
  background: var(--scale-bg-color);
}

body {
  background: var(--scale-bg-color);
  color: var(--scale-text-color);
  font-size: 1rem;
  overflow-x: hidden;
}

strong {
  font-weight: 500;
}

span.required {
  color: var(--scale-bright-green);
  font-weight: 900;
}

.container {
  max-width: 960px;
}

#scale-footer-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 0px;
  grid-column-gap: 1rem;
  align-items: center;
  color: #f9f9f9;
  font-size: 0.875rem;
  text-align: center;
}

.footer__logo {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
}

#scale-copyright {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  padding-top: 1rem;
  opacity: 0.75;
}

#scale-footer-content a {
  color: var(--scale-bg-alt-3-color);
  display: block;
  grid-row-start: 2;
}

#scale-footer-content a:hover {
  color: var(--scale-bg-alt-3-color);
}

.scale-navbar-margin-fix {
  margin-left: 0px !important;
}

section.scale-first {
  margin-top: 64px;
}

section.scale-thank-you {
  min-height: calc(100vh - 64px);
  display: grid;
  align-content: center;
  padding-bottom: calc(4.5rem + 64px);
}

section {
  /* padding: 4.5rem calc(2vw + 2vh); */
  scroll-margin-top: 64px;
}

section#scale-hero,
section#scale-testimonials {
  background-color: var(--scale-bg-alt-color);
  color: var(--scale-text-alt-color);
  background-image: url(https://stem.is/wp-content/themes/stem/dist/images/scale_wave_trimmed_2.svg);
  background-position-y: bottom;
  background-repeat: repeat-x;
  background-size: 1437px;
  background-position-x: center;
}

section#scale-value-props,
section#scale-faq {
  background: var(--scale-bg-alt-3-color);
}

section#scale-use-cases {
  background-color: var(--scale-text-alt-2-color);
  background-image: url(https://stem.is/wp-content/themes/stem/dist/images/cash-texture@2x.png);
  background-size: 326px;
  color: var(--scale-text-alt-color);
  overflow: hidden;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

p {
  line-height: 1.5rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

h2,
#use-cases-carousel {
  font-size: 1.875rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.scale-actually {
  font-weight: 900;
  color: var(--scale-text-alt-2-color);
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}

#scale-calculator h3 {
  color: var(--scale-text-alt-2-color);
}

/* START TEXT SLIDER */

#use-cases-carousel {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  align-items: top;
  font-weight: 600;
  font-size: 2.25rem;
}

#use-case-prefix {
  text-align: right;
  font-size: 2.25rem;
}

#scale-hero-3-up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-column-gap: 8vw;
}

.scale-value-prop > h4 {
  max-width: 192px;
  margin: auto;
  font-weight: 600;
}

.scale-value-prop img {
  height: 150px;
  padding: 1rem;
}

.scale-thank-you img {
  margin: 2rem auto;
  display: block;
}

.scale-thank-you .container {
  max-width: 600px;
}

.scale-value-details-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 32px 1fr;
  align-items: center;
  padding: 2rem 0;
}

.scale-value-details-container:nth-of-type(2) {
  border-top: 1px solid var(--scale-bg-alt-color);
  border-bottom: 1px solid var(--scale-bg-alt-color);
  color: var(--scale-text-alt-2-color);
}

.scale-value-details-container:nth-of-type(3) {
  color: var(--scale-bright-green);
}

.scale-value-details-container > h3 {
  margin-top: 4px;
}

p.scale-value-details {
  grid-column-start: 2;
}

.scale-container,
.item {
  width: 100%;
  height: 200%;
}
.scale-container {
  margin: 0;
  height: 200%;
  position: relative;
  border-radius: 10px;
}
.item {
  position: absolute;
  left: 0;
  top: 500px;
}
.first {
  left: 0;
  opacity: 1;
  z-index: 0;
}

.first {
  animation: cycleone 12s ease-in-out infinite;
}
.second {
  animation: cycletwo 12s ease-in-out infinite;
}
.third {
  animation: cyclethree 12s ease-in-out infinite;
}
.fourth {
  animation: cyclefour 12s ease-in-out infinite;
}

@keyframes cycleone {
  0% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* 5% = 1 second */
  20% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 0% to 20% = visible 4 seconds */
  25% {
    top: -36px;
    opacity: 0;
    z-index: 0;
  } /* from 20% to 25% = 1 second exit */
  26% {
    top: -36px;
    opacity: 0;
    z-index: -1;
  } /* return from whence you came */
  27% {
    top: 36px;
    opacity: 0;
    z-index: -1;
  } /* until your are complete again */
  95% {
    top: 36px;
    opacity: 0;
    z-index: 0;
  } /* From 95% to 100% = 1 second enter */
  100% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
}
@keyframes cycletwo {
  0% {
    top: 36px;
    opacity: 0;
  } /* 5% = 1 second */
  20% {
    top: 36px;
    opacity: 0;
  } /* starts moving after 20% ie 4 seconds  */
  25% {
    top: 0px;
    opacity: 1;
  } /* from 20% to 25% = for 1 second enter */
  45% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 25% to 45% = visible for 4 seconds */
  50% {
    top: -36px;
    opacity: 0;
    z-index: 0;
  } /* from 45% to 50% for 1 second exit */
  51% {
    top: 36px;
    opacity: 0;
    z-index: -1;
  } /* From 95% to 100% = 1 second enter */
  100% {
    top: 36px;
    opacity: 0;
    z-index: -1;
  } /* stays put for remainder */
}
@keyframes cyclethree {
  0% {
    top: 36px;
    opacity: 0;
  } /* 5% = 1 second */
  45% {
    top: 36px;
    opacity: 0;
    z-index: -1;
  } /* starts moving after 45% = 9 seconds  */
  50% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 45% to 50% = for 1 second enter */
  70% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 50% to 70% = visible 4 seconds */
  75% {
    top: -36px;
    opacity: 0;
    z-index: 0;
  } /* from 70% to 75% = 1 second exit */
  76% {
    top: 36px;
    opacity: 0;
    z-index: -1;
  } /* return to origin posish */
  100% {
    top: 36px;
    opacity: 0;
    z-index: -1;
  } /* stays put for remainder */
}
@keyframes cyclefour {
  0% {
    top: 36px;
    opacity: 0;
    z-index: -1;
  } /* 5% = 1 second */
  70% {
    top: 36px;
    opacity: 0;
    z-index: 0;
  } /* starts moving after 70% = 14 seconds  */
  75% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 70% to 75% = 1 second enter */
  95% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 75% to 95% = visible 4 seconds */
  100% {
    top: -36px;
    opacity: 0;
    z-index: 0;
  } /* from 95% to 100% = 1 second exit */
}

@keyframes cycleone-mobile {
  0% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* 5% = 1 second */
  20% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 0% to 20% = visible 4 seconds */
  25% {
    left: -500px;
    opacity: 0;
    z-index: 0;
  } /* from 20% to 25% = 1 second exit */
  26% {
    left: -500px;
    opacity: 0;
    z-index: -1;
  } /* return from whence you came */
  27% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* until your are complete again */
  95% {
    left: 500px;
    opacity: 0;
    z-index: 0;
  } /* From 95% to 100% = 1 second enter */
  100% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
}
@keyframes cycletwo-mobile {
  0% {
    left: 500px;
    opacity: 0;
  } /* 5% = 1 second */
  20% {
    left: 500px;
    opacity: 0;
  } /* starts moving after 20% ie 4 seconds  */
  25% {
    left: 0px;
    opacity: 1;
  } /* from 20% to 25% = for 1 second enter */
  45% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 25% to 45% = visible for 4 seconds */
  50% {
    left: -500px;
    opacity: 0;
    z-index: 0;
  } /* from 45% to 50% for 1 second exit */
  51% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* From 95% to 100% = 1 second enter */
  100% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* stays put for remainder */
}
@keyframes cyclethree-mobile {
  0% {
    left: 500px;
    opacity: 0;
  } /* 5% = 1 second */
  45% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* starts moving after 45% = 9 seconds  */
  50% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 45% to 50% = for 1 second enter */
  70% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 50% to 70% = visible 4 seconds */
  75% {
    left: -500px;
    opacity: 0;
    z-index: 0;
  } /* from 70% to 75% = 1 second exit */
  76% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* return to origin posish */
  100% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* stays put for remainder */
}
@keyframes cyclefour-mobile {
  0% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* 5% = 1 second */
  70% {
    left: 500px;
    opacity: 0;
    z-index: 0;
  } /* starts moving after 70% = 14 seconds  */
  75% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 70% to 75% = 1 second enter */
  95% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 75% to 95% = visible 4 seconds */
  100% {
    left: -500px;
    opacity: 0;
    z-index: 0;
  } /* from 95% to 100% = 1 second exit */
}

/* END TEXT SLIDER */

a,
button {
  cursor: pointer;
}

p,
ul {
  margin-top: 0.25rem;
}

div.scale-apply-button-container {
  text-align: center;
  margin: 2rem auto 0 auto;
}

a.scale-button,
button.scale-button {
  border-radius: 0px;
  background: var(--scale-bg-alt-color);
  color: var(--scale-bg-alt-3-color);
  font-size: 1.125rem;
  font-weight: 900;
  border: none;
}

a.scale-button:hover,
button.scale-button:hover {
  background: var(--scale-bg-alt-color);
  color: var(--scale-bg-alt-3-color);
}

a.scale-button-hero,
button.scale-button-hero {
  background: var(--scale-button-bg-color);
  color: var(--scale-button-text-color);
}

a.scale-button-hero:hover,
button.scale-button-hero:hover {
  background: var(--scale-button-bg-color);
  color: var(--scale-button-text-color);
}

section#scale-calculator {
  background: var(--scale-bg-alt-2-color);
}

div.scale-faq-container {
  max-width: 600px;
  margin: auto;
}

details {
  padding: 2rem 0px;
  border-bottom: 1px solid var(--scale-bg-alt-color);
}

details[open] > summary {
  margin-bottom: 1rem;
}

summary {
  font-weight: 600;
  cursor: pointer;

  font-size: 1.125rem;
}

summary:focus {
  outline: none;
}

/* Removes the details carrots
summary::-webkit-details-marker {
	display: none;
}
*/

input {
  /* Removes iOS input styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

input.scale-earnings {
  margin: auto;
  height: 70px;
  border-radius: 0px;
  background: transparent;
  text-align: center;
  border: none;
}

input#earnings {
  border-bottom: 2px solid #89c7a2 !important;
  box-shadow: none !important;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  color: #68a078;
}

/* START STYLES FROM CALCULATOR TEST */

div#calculatorInteract,
div#advanceOutputContainer,
button#scale-apply-button,
#sliderFiller,
#earnings {
  -webkit-transition: all 500ms ease-in-out !important;
  -moz-transition: all 500ms ease-in-out !important;
  -o-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
}

#sliderFiller {
  -webkit-transition: opacity 500ms ease-in-out !important;
  -moz-transition: opacity 500ms ease-in-out !important;
  -o-transition: opacity 500ms ease-in-out !important;
  transition: opacity 500ms ease-in-out !important;
}

div#calculatorInteract {
  max-width: 700px;
  margin: auto;
}

#contributionContainer {
  display: grid;
  margin: 0;
  padding: 0;
}
.sliderContainer {
  display: grid;
  grid-template-columns: 4rem auto 4rem;
  height: 32px;
  align-content: center;
  text-align: center;
}
#sliderLabelContainer {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  margin: 0;
  text-align: center;
}

.sliderLabel {
  margin: 0;
}
#multiplierLabelContainer {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin: 0;
  text-align: center;
}
input {
  width: 100%;
  margin: 0;
}
input#multiplier {
  padding: 0px 3.4%;
}
input#contribution {
  padding: 0px;
}

input#contribution,
input#multiplier {
  background: #68a078;
  border-radius: 100px;
  margin-top: 10px;
  height: 6px;
}

#sliderFiller {
  background: none;
  margin: 0px;
  border-radius: 100px 0px 0px 100px;
  height: 6px;
  margin-top: 10px;
  border: 1px solid var(--scale-bg-alt-color);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  box-shadow: 0 0 0 10px #68a07826;
}

input[type="range"]::-webkit-slider-runnable-track {
  box-shadow: none !important;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  box-shadow: 0 0 0 10px #68a07826;
}

/* output#advanceAmount, input#earnings, output#advanceContribution {
    color: #68A078;
} */

output#advanceAmount,
output#advanceContribution,
output#advanceDuration,
output#advanceFeeAmount,
output#advancePayback {
  display: block;
  color: #68a078;
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 3.125rem;
  text-align: center;

  font-weight: 500;
}

output#advanceAmount,
output#advanceContribution {
  display: inline;
}

output#advanceDuration {
}

#advanceOutputContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

.advanceOutputBox {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  background: var(--scale-bg-alt-3-color);
  text-align: center;
  padding: 20px;
  max-width: 280px;
  margin: 0 auto;
  border: 4px solid var(--scale-text-alt-2-color);
  box-shadow: -6px 6px 0px 0px var(--scale-text-alt-2-color);
}

div.advanceOutputBox + div.advanceOutputBox {
  border: 4px solid var(--scale-bright-green);
  box-shadow: -6px 6px 0px 0px var(--scale-bright-green);
}
div.advanceOutputBox + div.advanceOutputBox + div.advanceOutputBox {
  border: 4px solid var(--scale-button-bg-color);
  box-shadow: -6px 6px 0px 0px var(--scale-button-bg-color);
}

.outputBoxTitle {
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1.125rem;
}

span.decimals {
  font-size: 14px;
  display: none;
}

sup {
  font-size: 33%;
  font-weight: 500;
}

.calcWarning {
  color: var(--scale-text-alt-2-color);
  font-weight: 600;
}

/* END STYLES FROM CALCULATOR TEST */

/* START STYLE AND LAYOUT HELPERS */

.scale-bold {
  font-weight: 800 !important;
}

.scale-medium {
  font-weight: 500 !important;
}

.scale-centered {
  text-align: center !important;
}

.scale-v-spacer-s {
  margin-top: 1rem !important;
}

.scale-v-spacer-m {
  margin-top: 2rem !important;
}

.scale-v-spacer-l {
  margin-top: 3rem !important;
}

.scale-v-spacer-xl {
  margin-top: 4rem !important;
}

.scale-bright-green {
  color: var(--scale-bright-green);
}

/* END STYLE AND LAYOUT HELPERS */

/* START TESTIMONIALS */

#testimonial-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  align-items: center;
  justify-items: center;
  grid-column-gap: 2rem;
}

#testimonial-container blockquote {
  grid-row-start: 1;
  grid-column-start: 1;
  background: transparent;
  border: 3px solid var(--scale-bright-green);
  border-radius: 1rem 0px 1rem 0px;
  padding: 2rem;

  font-size: 1.75rem;
  color: var(--scale-bg-alt-3-color);
  line-height: 2.25rem;
  margin: 1rem auto;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  grid-row-end: 3;
  align-self: baseline;
  max-width: 480px;
}

#testimonial-container p {
  grid-row-start: 2;
  grid-column-start: 2;
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin: 0px;
  align-self: baseline;

  color: var(--scale-bg-alt-3-color);
  line-height: 1.125rem;
}

#testimonial-container img {
  grid-row-start: 1;
  padding: 1rem 1rem 0rem 1rem;
  grid-column-start: 2;
  width: 100%;
  border-radius: 50%;
}

/* END TESTIMONIALS */

/* START MODAL STYLINGS */

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;

  /* Probably need media queries here */
  width: 95vw;
  max-width: 640px;

  height: 90vh;
  max-height: 720px;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.1);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2rem;
}

.modal .close-button {
  position: absolute;

  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;

  top: 0px;

  /* needs to look OK with or without scrollbar */
  right: 0px;

  border: 2px solid var(--scale-bg-alt-color);
  background: rgba(255, 255, 255, 1);
  color: var(--scale-bg-alt-color);
  padding: 0px;
  font-size: 1.3rem;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  text-align: center;

  font-weight: 500;
  line-height: 0px;
  margin: 1rem;
}

.modal-guts label {
  font-size: 1rem;
  text-align: left;
  color: var(--scale-bg-alt-color);
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0.25rem !important;
}

label.scale-subtle-label {
  font-size: 0.875rem;
}

.modal-guts input[type="text"],
.modal-guts input[type="email"],
select[title="Lead Type"] {
  height: 20px;
  background-color: var(--scale-bg-alt-3-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;

  font-size: 1rem;
  color: var(--scale-bg-alt-color);
}

.scale-radio {
  display: inline;
  width: auto;
  margin-right: 1rem;
}

.modal-guts h2 {
  border-bottom: 4px solid var(--scale-bg-alt-color);
}

.scale-apply-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  text-align: right;
  grid-column-gap: 0.5rem;
}

.scale-apply-details p:nth-child(2n) {
  text-align: left;
  font-weight: 600;
}

.scale-apply-disclaimer {
  background: var(--scale-bg-color);
  padding: 1rem;
}

/* END MODAL STYLINGS */

/* START MOBILE CONDITIOINS */

@media only screen and (max-width: 699px) {
  #advanceOutputContainer {
    grid-column-gap: 0px;
  }

  .advanceOutputBox {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 559px) {
  .scale-only-mobile {
    display: block !important;
  }

  .scale-hide-mobile {
    display: none !important;
  }

  #use-cases-carousel {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    text-align: center;
    margin-top: -1.5rem;
  }

  #use-case-prefix {
    text-align: center;
  }

  .first {
    animation: cycleone-mobile 12s ease-in-out infinite;
  }
  .second {
    animation: cycletwo-mobile 12s ease-in-out infinite;
  }
  .third {
    animation: cyclethree-mobile 12s ease-in-out infinite;
  }
  .fourth {
    animation: cyclefour-mobile 12s ease-in-out infinite;
  }

  .item {
    position: absolute;
    left: 500px;
    top: 0px;
  }

  #advanceOutputContainer {
    grid-template-columns: unset;
    grid-column-gap: unset;
    grid-template-rows: repeat(3, 1 fr);
    grid-row-gap: 4vh;
  }

  .advanceOutputBox {
    transform: scale(1);
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 499px) {
  a.navbar-item {
    margin: auto;
  }

  .scale-only-mobile {
    display: block !important;
  }

  .scale-hide-mobile {
    display: none !important;
  }

  section#scale-hero {
    background-position-y: center;
  }

  #scale-hero-3-up {
    grid-template-columns: unset;
    grid-column-gap: unset;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 4vh;
  }

  .scale-apply-details {
    grid-template-columns: 1.5fr 1fr;
    margin-left: -1rem;
    margin-right: -1rem;
    align-items: center;
  }

  #contributionContainer {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 19;
  }

  .sliderLabel.minimum {
    grid-column-start: 1;
    text-align: left;
  }

  .sliderLabel.maximum {
    text-align: right;
  }

  #multiplierSlider .sliderLabel.maximum {
    grid-column-start: 3;
  }

  #contributionSlider .sliderLabel.maximum {
    grid-column-start: 18;
  }

  input#multiplier {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #contributionSlider {
    margin-bottom: 1rem;
  }

  section#scale-calculator {
    padding-right: 0px;
  }

  .calc-wrap {
    display: block !important;
    padding-bottom: 40px;
  }

  .slider-wrap label {
    font-weight: 600 !important;
    font-size: 30px;
    line-height: 35px;
    color: #173846;
    font-family: "Allianz", Helvetica, sans-serif !important;
  }

  .sliderLabel {
    margin-bottom: 5px !important;
  }

  .sliderContainer {
    margin-top: 10px;
  }

  #scale-apply-button {
    display: flex;
    justify-content: center;
    margin-top: 300px;
  }

  section#scale-calculator {
    padding-right: 0px !important;
  }
}

/* END MOBILE CONDITIONS */

/* START CSS TRICKS MODERN FORM ELEMENTS */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type="checkbox"]:after,
  input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type="checkbox"]:disabled:checked,
  input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  input[type="checkbox"]:hover:not(:checked):not(:disabled),
  input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type="checkbox"]:not(.switch),
  input[type="radio"]:not(.switch) {
    width: 21px;
  }
  input[type="checkbox"]:not(.switch):after,
  input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type="checkbox"]:not(.switch):checked,
  input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
    transform: rotate(var(--r, 20deg));
  }
  input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
    transform: translateX(var(--x, 0));
  }
  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type="radio"] {
    border-radius: 50%;
  }
  input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
  }
  input[type="radio"]:checked {
    --s: 0.5;
  }
}

/* Animate all the things
* {
	-webkit-transition: all 500ms ease-in-out !important;
  	-moz-transition: all 500ms ease-in-out !important;
  	-o-transition: all 500ms ease-in-out !important;
  	transition: all 500ms ease-in-out !important;
}
*/

/* START TEXT SLIDER */

#use-cases-carousel {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  align-items: top;

  font-weight: 600;
  font-size: 2.25rem;
}

#use-case-prefix {
  text-align: right;
  font-size: 2.25rem;
}

#scale-hero-3-up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-column-gap: 8vw;
}

.scale-value-prop > h4 {
  max-width: 192px;
  margin: auto;
  font-weight: 600;
}

.scale-value-prop img {
  height: 150px;
  padding: 1rem;
}

.scale-thank-you img {
  margin: 2rem auto;
  display: block;
}

.scale-thank-you .container {
  max-width: 600px;
}

.scale-value-details-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 32px 1fr;
  align-items: center;
  padding: 2rem 0;
}

.scale-value-details-container:nth-of-type(2) {
  border-top: 1px solid var(--scale-bg-alt-color);
  border-bottom: 1px solid var(--scale-bg-alt-color);
  color: var(--scale-text-alt-2-color);
}

.scale-value-details-container:nth-of-type(3) {
  color: var(--scale-bright-green);
}

.scale-value-details-container > h3 {
  margin-top: 4px;
}

p.scale-value-details {
  grid-column-start: 2;
}

.scale-container,
.item {
  width: 100%;
  height: 200%;
}
.scale-container {
  margin: 0;
  height: 200%;
  position: relative;
  border-radius: 10px;
}
.item {
  position: absolute;
  left: 0;
  top: 500px;
}
.first {
  left: 0;
  opacity: 1;
  z-index: 0;
}

.first {
  animation: cycleone 12s ease-in-out infinite;
}
.second {
  animation: cycletwo 12s ease-in-out infinite;
}
.third {
  animation: cyclethree 12s ease-in-out infinite;
}
.fourth {
  animation: cyclefour 12s ease-in-out infinite;
}

@keyframes cycleone {
  0% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* 5% = 1 second */
  20% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 0% to 20% = visible 4 seconds */
  25% {
    top: -2.25rem;
    opacity: 0;
    z-index: 0;
  } /* from 20% to 25% = 1 second exit */
  26% {
    top: -2.25rem;
    opacity: 0;
    z-index: -1;
  } /* return from whence you came */
  27% {
    top: 2.25rem;
    opacity: 0;
    z-index: -1;
  } /* until your are complete again */
  95% {
    top: 2.25rem;
    opacity: 0;
    z-index: 0;
  } /* From 95% to 100% = 1 second enter */
  100% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
}
@keyframes cycletwo {
  0% {
    top: 2.25rem;
    opacity: 0;
  } /* 5% = 1 second */
  20% {
    top: 2.25rem;
    opacity: 0;
  } /* starts moving after 20% ie 4 seconds  */
  25% {
    top: 0px;
    opacity: 1;
  } /* from 20% to 25% = for 1 second enter */
  45% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 25% to 45% = visible for 4 seconds */
  50% {
    top: -2.25rem;
    opacity: 0;
    z-index: 0;
  } /* from 45% to 50% for 1 second exit */
  51% {
    top: 2.25rem;
    opacity: 0;
    z-index: -1;
  } /* From 95% to 100% = 1 second enter */
  100% {
    top: 2.25rem;
    opacity: 0;
    z-index: -1;
  } /* stays put for remainder */
}
@keyframes cyclethree {
  0% {
    top: 2.25rem;
    opacity: 0;
  } /* 5% = 1 second */
  45% {
    top: 2.25rem;
    opacity: 0;
    z-index: -1;
  } /* starts moving after 45% = 9 seconds  */
  50% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 45% to 50% = for 1 second enter */
  70% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 50% to 70% = visible 4 seconds */
  75% {
    top: -2.25rem;
    opacity: 0;
    z-index: 0;
  } /* from 70% to 75% = 1 second exit */
  76% {
    top: 2.25rem;
    opacity: 0;
    z-index: -1;
  } /* return to origin posish */
  100% {
    top: 2.25rem;
    opacity: 0;
    z-index: -1;
  } /* stays put for remainder */
}
@keyframes cyclefour {
  0% {
    top: 2.25rem;
    opacity: 0;
    z-index: -1;
  } /* 5% = 1 second */
  70% {
    top: 2.25rem;
    opacity: 0;
    z-index: 0;
  } /* starts moving after 70% = 14 seconds  */
  75% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 70% to 75% = 1 second enter */
  95% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 75% to 95% = visible 4 seconds */
  100% {
    top: -2.25rem;
    opacity: 0;
    z-index: 0;
  } /* from 95% to 100% = 1 second exit */
}

@keyframes cycleone-mobile {
  0% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* 5% = 1 second */
  20% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 0% to 20% = visible 4 seconds */
  25% {
    left: -500px;
    opacity: 0;
    z-index: 0;
  } /* from 20% to 25% = 1 second exit */
  26% {
    left: -500px;
    opacity: 0;
    z-index: -1;
  } /* return from whence you came */
  27% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* until your are complete again */
  95% {
    left: 500px;
    opacity: 0;
    z-index: 0;
  } /* From 95% to 100% = 1 second enter */
  100% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
}
@keyframes cycletwo-mobile {
  0% {
    left: 500px;
    opacity: 0;
  } /* 5% = 1 second */
  20% {
    left: 500px;
    opacity: 0;
  } /* starts moving after 20% ie 4 seconds  */
  25% {
    left: 0px;
    opacity: 1;
  } /* from 20% to 25% = for 1 second enter */
  45% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 25% to 45% = visible for 4 seconds */
  50% {
    left: -500px;
    opacity: 0;
    z-index: 0;
  } /* from 45% to 50% for 1 second exit */
  51% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* From 95% to 100% = 1 second enter */
  100% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* stays put for remainder */
}
@keyframes cyclethree-mobile {
  0% {
    left: 500px;
    opacity: 0;
  } /* 5% = 1 second */
  45% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* starts moving after 45% = 9 seconds  */
  50% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 45% to 50% = for 1 second enter */
  70% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 50% to 70% = visible 4 seconds */
  75% {
    left: -500px;
    opacity: 0;
    z-index: 0;
  } /* from 70% to 75% = 1 second exit */
  76% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* return to origin posish */
  100% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* stays put for remainder */
}
@keyframes cyclefour-mobile {
  0% {
    left: 500px;
    opacity: 0;
    z-index: -1;
  } /* 5% = 1 second */
  70% {
    left: 500px;
    opacity: 0;
    z-index: 0;
  } /* starts moving after 70% = 14 seconds  */
  75% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 70% to 75% = 1 second enter */
  95% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  } /* from 75% to 95% = visible 4 seconds */
  100% {
    left: -500px;
    opacity: 0;
    z-index: 0;
  } /* from 95% to 100% = 1 second exit */
}

/* END TEXT SLIDER */

a,
button {
  cursor: pointer;
}

p,
ul {
  margin-top: 0.25rem;
}

div.scale-apply-button-container {
  text-align: center;
  margin: 2rem auto 0 auto;
}

a.scale-button,
button.scale-button {
  border-radius: 0px;
  background: var(--scale-bg-alt-color);
  color: var(--scale-bg-alt-3-color);
  font-size: 1.125rem;
  font-weight: 900;
  border: none;
}

a.scale-button:hover,
button.scale-button:hover {
  background: var(--scale-bg-alt-color);
  color: var(--scale-bg-alt-3-color);
}

a.scale-button-hero,
button.scale-button-hero {
  background: var(--scale-button-bg-color);
  color: var(--scale-button-text-color);
}

a.scale-button-hero:hover,
button.scale-button-hero:hover {
  background: var(--scale-button-bg-color);
  color: var(--scale-button-text-color);
}

section#scale-calculator {
  background: #eff5f0;
  padding-right: 50px;
}

div.scale-faq-container {
  max-width: 600px;
  margin: auto;
}

details {
  padding: 2rem 0px;
  border-bottom: 1px solid var(--scale-bg-alt-color);
}

details[open] > summary {
  margin-bottom: 1rem;
}

summary {
  font-weight: 600;
  cursor: pointer;

  font-size: 1.125rem;
}

summary:focus {
  outline: none;
}

/* Removes the details carrots
summary::-webkit-details-marker {
	display: none;
}
*/

input {
  /* Removes iOS input styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

/* START STYLE AND LAYOUT HELPERS */

.scale-bold {
  font-weight: 800 !important;
}

.scale-medium {
  font-weight: 500 !important;
}

.scale-centered {
  text-align: center !important;
}

.scale-v-spacer-s {
  margin-top: 1rem !important;
}

.scale-v-spacer-m {
  margin-top: 2rem !important;
}

.scale-v-spacer-l {
  margin-top: 3rem !important;
}

.scale-v-spacer-xl {
  margin-top: 4rem !important;
}

.scale-bright-green {
  color: var(--scale-bright-green);
}

/* END STYLE AND LAYOUT HELPERS */

/* START MODAL STYLINGS */

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;

  /* Probably need media queries here */
  width: 95vw;
  max-width: 640px;

  height: 90vh;
  max-height: 720px;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.1);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2rem;
}

.modal .close-button {
  position: absolute;

  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;

  top: 0px;

  /* needs to look OK with or without scrollbar */
  right: 0px;

  border: 2px solid var(--scale-bg-alt-color);
  background: rgba(255, 255, 255, 1);
  color: var(--scale-bg-alt-color);
  padding: 0px;
  font-size: 1.3rem;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  text-align: center;

  font-weight: 500;
  line-height: 0px;
  margin: 1rem;
}

.modal-guts label {
  font-size: 1rem;
  text-align: left;
  color: var(--scale-bg-alt-color);
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0.25rem !important;
}

label.scale-subtle-label {
  font-size: 0.875rem;
}

.modal-guts input[type="text"],
.modal-guts input[type="email"],
select[title="Lead Type"] {
  height: 20px;
  background-color: var(--scale-bg-alt-3-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;

  font-size: 1rem;
  color: var(--scale-bg-alt-color);
}

.scale-radio {
  display: inline;
  width: auto;
  margin-right: 1rem;
}

.modal-guts h2 {
  border-bottom: 4px solid var(--scale-bg-alt-color);
}

.scale-apply-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  text-align: right;
  grid-column-gap: 0.5rem;
}

.scale-apply-details p:nth-child(2n) {
  text-align: left;
  font-weight: 600;
}

.scale-apply-disclaimer {
  background: var(--scale-bg-color);
  padding: 1rem;
}

/* END MODAL STYLINGS */

/* START MOBILE CONDITIOINS */

@media only screen and (max-width: 699px) {
  #advanceOutputContainer {
    grid-column-gap: 0px;
  }

  .advanceOutputBox {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 559px) {
  .scale-only-mobile {
    display: block !important;
  }

  .scale-hide-mobile {
    display: none !important;
  }

  #use-cases-carousel {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    text-align: center;
    margin-top: -1.5rem;
  }

  #use-case-prefix {
    text-align: center;
  }

  .first {
    animation: cycleone-mobile 12s ease-in-out infinite;
  }
  .second {
    animation: cycletwo-mobile 12s ease-in-out infinite;
  }
  .third {
    animation: cyclethree-mobile 12s ease-in-out infinite;
  }
  .fourth {
    animation: cyclefour-mobile 12s ease-in-out infinite;
  }

  .item {
    position: absolute;
    left: 500px;
    top: 0px;
  }

  #advanceOutputContainer {
    grid-template-columns: unset;
    grid-column-gap: unset;
    grid-template-rows: repeat(3, 1 fr);
    grid-row-gap: 4vh;
  }

  .advanceOutputBox {
    transform: scale(1);
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 499px) {
  a.navbar-item {
    margin: auto;
  }

  .scale-only-mobile {
    display: block !important;
  }

  .scale-hide-mobile {
    display: none !important;
  }

  section#scale-hero {
    background-position-y: center;
  }

  #scale-hero-3-up {
    grid-template-columns: unset;
    grid-column-gap: unset;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 4vh;
  }

  .scale-apply-details {
    grid-template-columns: 1.5fr 1fr;
    margin-left: -1rem;
    margin-right: -1rem;
    align-items: center;
  }

  #contributionContainer {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 19;
  }

  .sliderLabel.minimum {
    grid-column-start: 1;
    text-align: left;
  }

  .sliderLabel.maximum {
    text-align: right;
  }

  #multiplierSlider .sliderLabel.maximum {
    grid-column-start: 3;
  }

  #contributionSlider .sliderLabel.maximum {
    grid-column-start: 18;
  }

  input#multiplier {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #contributionSlider {
    margin-bottom: 1rem;
  }
}

/* END MOBILE CONDITIONS */

/* START CSS TRICKS MODERN FORM ELEMENTS */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type="checkbox"]:after,
  input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type="checkbox"]:disabled:checked,
  input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  input[type="checkbox"]:hover:not(:checked):not(:disabled),
  input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type="checkbox"]:not(.switch),
  input[type="radio"]:not(.switch) {
    width: 21px;
  }
  input[type="checkbox"]:not(.switch):after,
  input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type="checkbox"]:not(.switch):checked,
  input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
    transform: rotate(var(--r, 20deg));
  }
  input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
    transform: translateX(var(--x, 0));
  }
  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type="radio"] {
    border-radius: 50%;
  }
  input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
  }
  input[type="radio"]:checked {
    --s: 0.5;
  }
}

/* END CSS TRICKS MODERN FORM ELEMENTS */
