body.elementor-page .elementor-widget-menu-anchor {
  margin-bottom: 0;
}

.pie svg {
  position: absolute;
}

.pie {
  height: 300px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-txt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap !important;
  max-width: 117px;
  text-align: center;
}

.pie-txt p {
  display: block;
}

p.payback-price {
  display: flex;
  width: 100%;
  justify-content: center;
}

.months {
  position: absolute;
  right: -22px;
  top: 0;
  z-index: 9;
  width: 90px;
  height: 90px;
}

.pricenum {
  font-size: 36px !important;
  color: black !important;
}

.advancefee {
  position: absolute;
  bottom: -200px;
  right: -130px;
  text-align: right;
  max-width: 200px;
}

.months {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

sup {
  display: block;
  padding: 10px;
}

p.pricenum {
  font-weight: bold;
  font-size: 24px;
}

.advancefee {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  z-index: 9;
}

@media only screen and (max-width: 499px) {
  .advancefee {
    position: relative;
    bottom: 0px;
    right: 0px;
    max-width: 200px;
    margin-top: 600px;
  }
}

